In [3]:
import pandas as pd

In [4]:
df_name = pd.read_csv('Resources/internet_customers.csv')

In [5]:
type(df_name["zip"])

pandas.core.series.Series

In [6]:
df_name[['zip_code','extra']] = df_name.zip.str.split(pat='-', expand=True)

In [7]:
#for i in range(len([df_name.zip])):
df_name['zip_code']=df_name['zip_code'].apply(lambda x: '{0:0>5}'.format(x))

In [8]:
type(df_name['zip_code'][0])

str

In [9]:
df_filtered = df_name.drop(['zip', 'extra'], axis=1)  #axis changes from row to column

In [10]:
internet_customers_df = df_filtered.rename(columns={"zip_code": "zip"})

In [11]:
internet_customers_df.head(20)

    customer_id                 city state    zip
0          1583         Delray Beach    FL  33484
1          1146         Coral Gables    FL  33134
2           570  Grosse Pointe Farms    MI  48236
3           545              raleigh    NC  27609
4           539            Charlotte    NC  28203
5           452            Uniontown    OH  44685
6          1453              Danbury    NC  27016
7          1614            Middleton    WI  53562
8           971           Estes Park    CO  80517
9           879        San Francisco    CA  94123
10         1276               Denver    CO  80230
11          213            Littleton    CO  80127
12          792           Washington    DC  20008
13          673               Dallas    TX  75230
14         1731        San Francisco    CA  94129
15          769          Glastonbury    CT  06033
16         1027            Evergreen    CO  80439
17         1013               Denver    CO  80223
18         1033               DENVER    CO  80236
19         1036           Encampment    WY  82325

In [25]:
internet_customers_df[internet_customers_df['customer_id']==971]

      customer_id        city state    zip
8             971  Estes Park    CO  80517
121           971       Omaha    NE  68022
147           971    Waterloo    NE  68069
1135          971     Elkhorn    NE  68022
1633          971    WATERLOO    NE  68069

In [26]:
internet_customers_df['customer_id'].value_counts().sort_values(ascending=False)

971     5
1354    4
42      4
1047    3
658     3
1289    3
775     3
1001    3
1033    3
1121    3
1258    3
1206    3
724     3
988     3
865     3
847     3
516     3
792     3
1690    3
754     3
Name: customer_id, dtype: int64

In [27]:
# multiple address per customer
# work around by assuming only one address - Sara needs to fix
internet_customers_df=internet_customers_df.drop_duplicates(subset=['customer_id'])
internet_customers_df.to_csv('output/Internet_Customers.csv', index = False)

In [12]:
from sqlalchemy import create_engine
conn='postgres://postgres:password@localhost:5432/BodyBark'
engine=create_engine(conn)

In [28]:
internet_customers_df.to_sql('Internet_Customers', if_exists='append', con=engine, index=False)

In [29]:
engine.dispose()