In [1]:
import pandas as pd

In [2]:
df_name = pd.read_csv('Resources/Body_Bark_ProductService_list.csv')

In [3]:
df_name.head(20)

               sku                            description
0     1001-Black-L               High Neck Tank, Black, L
1     1001-Black-M               High Neck Tank, Black, M
2     1001-Black-S               High Neck Tank, Black, S
3    1001-Black-XL              High Neck Tank, Black, XL
4    1001-Black-XS              High Neck Tank, Black, XS
5     1001-Ivory-L               High Neck Tank, Ivory, L
6     1001-Ivory-M               High Neck Tank, Ivory, M
7     1001-Ivory-S               High Neck Tank, Ivory, S
8    1001-Ivory-XL              High Neck Tank, Ivory, XL
9    1001-Ivory-XS              High Neck Tank, Ivory, XS
10    1001-White-L               High Neck Tank, White, L
11    1001-White-M               High Neck Tank, White, M
12    1001-White-S               High Neck Tank, White, S
13   1001-White-XL              High Neck Tank, White, XL
14   1001-White-XS              High Neck Tank, White, XS
15   101-Natural-L   Deep Scoop, Short Sleeve, Natural, L
16  101-Natural-XL  Deep Scoop, Short Sleeve, Natural, XL
17  101-Natural-XS  Deep Scoop, Short Sleeve, Natural, XS
18   1020-Black-XS                   Boy Short, Black, XS
19    1020-White-L                    Boy Short, White, L

In [4]:
df_name[['product_num','product_color', 'product_size']] = df_name.sku.str.split(pat='-', expand=True)

In [5]:
df_name.head(20)

,sku,description,product_num,product_color,product_size
0,1001-Black-L,"High Neck Tank, Black, L",1001,Black,L
1,1001-Black-M,"High Neck Tank, Black, M",1001,Black,M
2,1001-Black-S,"High Neck Tank, Black, S",1001,Black,S
3,1001-Black-XL,"High Neck Tank, Black, XL",1001,Black,XL
4,1001-Black-XS,"High Neck Tank, Black, XS",1001,Black,XS
5,1001-Ivory-L,"High Neck Tank, Ivory, L",1001,Ivory,L
6,1001-Ivory-M,"High Neck Tank, Ivory, M",1001,Ivory,M
7,1001-Ivory-S,"High Neck Tank, Ivory, S",1001,Ivory,S
8,1001-Ivory-XL,"High Neck Tank, Ivory, XL",1001,Ivory,XL
9,1001-Ivory-XS,"High Neck Tank, Ivory, XS",1001,Ivory,XS
10,1001-White-L,"High Neck Tank, White, L",1001,White,L
11,1001-White-M,"High Neck Tank, White, M",1001,White,M
12,1001-White-S,"High Neck Tank, White, S",1001,White,S
13,1001-White-XL,"High Neck Tank, White, XL",1001,White,XL
14,1001-White-XS,"High Neck Tank, White, XS",1001,White,XS
15,101-Natural-L,"Deep Scoop, Short Sleeve, Natural, L",101,Natural,L
16,101-Natural-XL,"Deep Scoop, Short Sleeve, Natural, XL",101,Natural,XL
17,101-Natural-XS,"Deep Scoop, Short Sleeve, Natural, XS",101,Natural,XS
18,1020-Black-XS,"Boy Short, Black, XS",1020,Black,XS
19,1020-White-L,"Boy Short, White, L",1020,White,L

In [6]:
product_df=df_name

In [9]:
product_df.to_csv('output/Product_List.csv', index = False)

In [12]:
from sqlalchemy import create_engine
conn='postgres://postgres:password@localhost:5432/BodyBark'
engine=create_engine(conn)

In [16]:
engine.table_names()

['Product_List',
 'Internet_Customers',
 'Ordered_Items',
 'Top_Boutiques',
 'Boutiques',
 'Internet_Order']

In [18]:
product_df.to_sql('Product_List', if_exists='append', con=engine, index=False)

In [11]:
pd.read_csv('output/Boutiques.csv').head(20)

,boutique_id,boutique_name,street_address,city,state,zip
0,0,A City Obsession,500 12th St. #128,Oakland,CA,94607
1,1,A Line Boutique,2000 S Acoma St.,Denver,CO,80223
2,2,Abigail Inc.,1216 Porta Ballena,Alameda,CA,94501
3,3,Abode,2416 Magowan Dr.,Santa Rosa,CA,95405
4,4,Adobe East,303 Southeast 17th Street #106,Ocala,FL,34471
5,5,Alene Women's Boutique-Closed,502 N. Pine Island Rd.,Plantation,FL,33324
6,6,Alice Becker,806 Grant Ave.,Novato,CA,94945
7,7,"Allied Feeds, Inc.",1551 N. Esplanade,Cuero,TX,77954
8,8,American Clothing Gallery,100 N 8th St.,Boise,ID,83702
9,9,Ann Marie - CLOSED,Ann Marie\n4000 East Madison,Seattle,WA,98112
10,10,Aquamarine,114 2nd Street,Lewes,DE,19958
11,11,Aromatherapy Closed,Aromatherapy\n326 Main St.,Huntington,NY,11743
12,12,Artemisia,117 Bent St,Taos,NM,87571
13,13,Artwear,185 Massachusetts Ave.,Arlington,MA,02474
14,14,At Ease,6325 Falls of Neuse Road,Raleigh,NC,27615
15,15,B. Real Women's Apparel,PO Box 5096,Carmel,CA,93921
16,16,Barbara and Company,1067 S. Gaylord St.,Denver,CO,80209
17,17,Barbara Eclectic CLOSED,Barbara Eclectic\n594 Valley Rd.,Upper Montclair,NJ,07043
18,18,Basiques,14210 Overbrook Lane,Houston,TX,77077
19,19,BB's Apparel and Boots,2340 East Murray Holladay Rd,Holladay,UT,84117

In [20]:
engine.dispose()